{{outlet}}

<form>
  <fieldset>
    <legend>Registration Form</legend>

    <label class="control control-username">
      username:
      <input name="username" />
    </label>

    <label class="control control-firstname">
      firstname:
      <input name="firstname" />
    </label>

    <label class="control control-lastname">
      lastname:
      <input name="lastname" />
    </label>
  </fieldset>
</form>
