<ul class="card-list">
  <li>
    <h3>John</h3>

    <form action="" >
      <input type="radio" name="gender" value="male" checked="checked"> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other
    </form>

    <a href="/john">More details</a>
  </li>

  <li>
    <h3>Maria</h3>
    <form action="" readonly="readonly">
      <input type="radio" name="gender" value="male"> Male<br>
      <input type="radio" name="gender" value="female" checked="checked"> Female<br>
      <input type="radio" name="gender" value="other"> Other
    </form>
    <a href="/john">More details</a>
  </li>
</ul>

{{outlet}}
